@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Palanquin:wght@100;200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Palanquin:wght@100;200;300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --tw-text-opacity: 1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.max-container {
  max-width: 1440px;
  margin: 0 auto;
}

.input {
  display: flex;
  flex: 1;
  width: 100%;
  font-size: 16px;
  line-height: 19.5px;
  color: rgb(109 109 109 / var(--tw-text-opacity));
  padding-left: 1.25rem;
  padding: 1.25rem;
  outline: 2px solid transparent;
  outline-offset: 2px;
  border-style: none;
  border-width: 1px;
  border-color: rgb(109 109 109 / var(--tw-border-opacity));
  border-radius: 9999px;
}


.padding {
  padding: 8rem 4rem;
}


.padding-x {
  padding-inline: 4rem;
}

.padding-y {
  padding: 3rem 0;
}

.padding-l {
  padding-left: 4rem;
}

.padding-r {
  padding-right: 2rem;
}

.padding-t {
  padding-top: 3rem;
}

.padding-b {
  padding-bottom: 3rem
}


.info-text {
  font-family: 'Montserrat', sans-serif;
  color: rgb(109 109 109 / var(--tw-text-opacity));
  font-size: 18px;
  line-height: 21.94px;
  line-height: 1.75rem;
}